.frame-312,
.frame-312 * {
    box-sizing: border-box;
}

.frame-312 {
    height: 3957px;
    position: relative;
}

.mac-book-pro-16-20 {
    background: var(--taxellence-bg, linear-gradient(to left, rgba(24, 71, 57, 0.75), rgba(24, 71, 57, 0.75)));
    width: 1728px;
    height: 1117px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.home {
    width: 1728px;
    height: 3957px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.testimonials {
    background: #ffffff;
    width: 1728px;
    height: 489px;
    position: absolute;
    left: 0px;
    top: 3044px;
    overflow: hidden;
}

.imp-t-ile {
    background: #87e0c4;
    border-radius: 24px;
    border-style: solid;
    border-color: #29755a;
    border-width: 1px;
    padding: 8px 20px 8px 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 802px;
    top: 32px;
}

.testimonials2 {
    color: #203d34;
    text-align: left;
    font-family: 'Inter-Regular', sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: relative;
}

.middle {
    position: absolute;
    inset: 0;
}

.frame-28 {
    border-radius: 27.6px;
    border-style: solid;
    border-color: var(--green-stroke, rgba(25, 126, 55, 0.70));
    border-width: 1.15px;
    width: 602px;
    height: 355px;
    position: absolute;
    left: 563.2px;
    top: 108px;
    box-shadow: 0px 4.6px 4.6px 0px rgba(32, 61, 52, 0.38);
    overflow: hidden;
}

.frame-282 {
    background: var(--taxellence-bg, linear-gradient(to left, rgba(24, 71, 57, 0.75), rgba(24, 71, 57, 0.75)));
    border-radius: 27.6px;
    width: 602px;
    height: 355px;
    position: absolute;
    left: 0px;
    top: 0px;
    filter: blur(10px);
    object-fit: cover;
}

.frame-284 {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 53px;
    top: 155px;
}

.hitesh-is-patient-and-listens-to-everything-carefully-explains-all-the-queries-in-easiest-and-best-way-possible-with-examples-i-would-highly-recommend-them-for-all-its-filings-and-gst-assessments {
    color: #ffffff;
    text-align: center;
    font-family: 'Inter-Regular', sans-serif;
    font-size: 22px;
    font-weight: 400;
    position: relative;
    width: 475px;
}

.ellipse-3 {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    left: 789.2px;
    top: 81px;
    object-fit: cover;
    aspect-ratio: 1;
}

.frame-283 {
    border-radius: 22.08px;
    border-style: solid;
    border-color: var(--green-stroke, rgba(25, 126, 55, 0.70));
    border-width: 0.92px;
    width: 481.6px;
    height: 284px;
    position: absolute;
    left: 1207.2px;
    top: 140.6px;
    box-shadow: 0px 3.68px 3.68px 0px rgba(32, 61, 52, 0.38);
    overflow: hidden;
}

.frame-2822 {
    background: var(--taxellence-bg, linear-gradient(to left, rgba(24, 71, 57, 0.75), rgba(24, 71, 57, 0.75)));
    border-radius: 22.08px;
    width: 481.6px;
    height: 284px;
    position: absolute;
    left: 0px;
    top: 0px;
    filter: blur(8px);
    object-fit: cover;
}

.frame-2842 {
    padding: 8px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 42.4px;
    top: 124px;
}

.hitesh-is-patient-and-listens-to-everything-carefully-explains-all-the-queries-in-easiest-and-best-way-possible-with-examples-i-would-highly-recommend-them-for-all-its-filings-and-gst-assessments2 {
    color: #ffffff;
    text-align: center;
    font-family: 'Inter-Regular', sans-serif;
    font-size: 17.600000381469727px;
    font-weight: 400;
    position: relative;
    width: 380px;
}

.ellipse-32 {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    position: absolute;
    left: 1388px;
    top: 119px;
    object-fit: cover;
    aspect-ratio: 1;
}

.frame-285 {
    border-radius: 22.08px;
    border-style: solid;
    border-color: var(--green-stroke, rgba(25, 126, 55, 0.70));
    border-width: 0.92px;
    width: 481.6px;
    height: 284px;
    position: absolute;
    left: 39.6px;
    top: 140.6px;
    box-shadow: 0px 3.68px 3.68px 0px rgba(32, 61, 52, 0.38);
    overflow: hidden;
}

.ellipse-33 {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    position: absolute;
    left: 220.4px;
    top: 119px;
    object-fit: cover;
    aspect-ratio: 1;
}

.frame-286 {
    border-radius: 22.08px;
    border-style: solid;
    border-color: var(--green-stroke, rgba(25, 126, 55, 0.70));
    border-width: 0.92px;
    width: 481.6px;
    height: 284px;
    position: absolute;
    left: -484px;
    top: 140.6px;
    box-shadow: 0px 3.68px 3.68px 0px rgba(32, 61, 52, 0.38);
    overflow: hidden;
}

.ellipse-34 {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    position: absolute;
    left: -303.2px;
    top: 119px;
    object-fit: cover;
    aspect-ratio: 1;
}

.frame-287 {
    border-radius: 22.08px;
    border-style: solid;
    border-color: var(--green-stroke, rgba(25, 126, 55, 0.70));
    border-width: 0.92px;
    width: 481.6px;
    height: 284px;
    position: absolute;
    left: 1730.8px;
    top: 140.6px;
    box-shadow: 0px 3.68px 3.68px 0px rgba(32, 61, 52, 0.38);
    overflow: hidden;
}

.ellipse-35 {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    position: absolute;
    left: 1911.6px;
    top: 119px;
    object-fit: cover;
    aspect-ratio: 1;
}

.about-us {
    background: #0d221c;
    width: 1728px;
    height: 810px;
    position: absolute;
    left: 0px;
    top: 2234px;
    overflow: hidden;
}

.frame-26 {
    width: 672px;
    height: 568px;
    position: absolute;
    left: 113px;
    top: 121px;
    overflow: hidden;
    object-fit: cover;
}

.about-us2 {
    color: #87e0c4;
    text-align: center;
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 56px;
    font-weight: 700;
    position: absolute;
    left: 879px;
    top: 141px;
}

.short-intro {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    height: 449px;
    position: absolute;
    left: 881px;
    top: 220px;
}

.at-taxellence-we-specialize-in-providing-expert-tax-and-financial-consulting-to-businesses-and-individuals-with-over-eight-years-of-experience-we-simplify-complex-financial-landscapes-through-strategic-tax-planning-compliance-and-tailored-financial-solutions-our-approach-goes-beyond-numbers-we-focus-on-efficiency-growth-and-long-term-financial-stability-by-staying-ahead-of-industry-trends-and-regulations-we-ensure-our-clients-receive-precise-ethical-and-forward-thinking-guidance-at-taxellence-trust-transparency-and-excellence-are-at-the-core-of-everything-we-do-let-s-build-a-stronger-financial-future-together {
    color: #ffffff;
    text-align: left;
    font-family: 'Roboto-Light', sans-serif;
    font-size: 28px;
    font-weight: 300;
    position: relative;
    width: 734px;
}

.our-services {
    background: #e6f2ea;
    width: 1728px;
    height: 1117px;
    position: absolute;
    left: 0px;
    top: 1117px;
    overflow: hidden;
}

.frame-10 {
    background: rgba(25, 126, 55, 0.23);
    width: 1728px;
    height: 624px;
    position: absolute;
    left: 0px;
    top: 316px;
    overflow: hidden;
}

.group-2 {
    position: absolute;
    inset: 0;
}

.frame-11 {
    background: #ffffff;
    border-radius: 24px;
    border-style: solid;
    border-color: rgba(25, 126, 55, 0.70);
    border-width: 1px;
    width: 426px;
    height: 232px;
    position: absolute;
    left: 185px;
    top: 64px;
    box-shadow: 0px 4px 4px 0px rgba(32, 61, 52, 0.38);
    overflow: hidden;
}

.frame-20 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 132px;
    top: 96px;
}

.tax-planning {
    color: #203d34;
    text-align: center;
    font-family: 'Roboto-Medium', sans-serif;
    font-size: 28px;
    font-weight: 500;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.frame-21 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 56px;
    top: 136px;
}

.strategic-planning-to-minimize-tax-liabilities-and-maximize-your-financial-efficiency {
    color: #29755a;
    text-align: center;
    font-family: var(--type-of-service-description-1-font-family, 'Roboto-Regular', sans-serif);
    font-size: var(--type-of-service-description-1-font-size, 22px);
    font-weight: var(--type-of-service-description-1-font-weight, 400);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fi-rs-calculator {
    width: 49px;
    height: 49px;
    position: absolute;
    left: 188px;
    top: 27px;
    overflow: visible;
    aspect-ratio: 1;
}

.frame-12 {
    background: #ffffff;
    border-radius: 24px;
    border-style: solid;
    border-color: rgba(25, 126, 55, 0.70);
    border-width: 1px;
    width: 426px;
    height: 232px;
    position: absolute;
    left: 651px;
    top: 64px;
    box-shadow: 0px 4px 4px 0px rgba(32, 61, 52, 0.38);
    overflow: hidden;
}

.frame-202 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 112px;
    top: 83px;
}

.tax-compliance {
    color: #203d34;
    text-align: center;
    font-family: 'Roboto-Medium', sans-serif;
    font-size: 28px;
    font-weight: 500;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.frame-212 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 75px;
    top: 123px;
}

.ensuring-your-tax-filings-are-accurate-complete-and-submitted-on-time {
    color: #29755a;
    text-align: center;
    font-family: var(--type-of-service-description-1-font-family, 'Roboto-Regular', sans-serif);
    font-size: var(--type-of-service-description-1-font-size, 22px);
    font-weight: var(--type-of-service-description-1-font-weight, 400);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fi-rs-file-check {
    width: 49px;
    height: 49px;
    position: absolute;
    left: 188px;
    top: 14px;
    overflow: visible;
    aspect-ratio: 1;
}

.frame-13 {
    background: #ffffff;
    border-radius: 24px;
    border-style: solid;
    border-color: rgba(25, 126, 55, 0.70);
    border-width: 1px;
    width: 426px;
    height: 232px;
    position: absolute;
    left: 1117px;
    top: 64px;
    box-shadow: 0px 4px 4px 0px rgba(32, 61, 52, 0.38);
    overflow: hidden;
}

.frame-203 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 76px;
    top: 98px;
}

.international-taxation {
    color: #203d34;
    text-align: center;
    font-family: 'Roboto-Medium', sans-serif;
    font-size: 28px;
    font-weight: 500;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.frame-213 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 51px;
    top: 138px;
}

.expert-guidance-on-cross-border-transactions-and-global-tax-obligations {
    color: #29755a;
    text-align: center;
    font-family: var(--type-of-service-description-1-font-family, 'Roboto-Regular', sans-serif);
    font-size: var(--type-of-service-description-1-font-size, 22px);
    font-weight: var(--type-of-service-description-1-font-weight, 400);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fi-rs-globe {
    width: 49px;
    height: 49px;
    position: absolute;
    left: 188px;
    top: 29px;
    overflow: hidden;
}

._01-align-center {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0%;
    left: 0%;
    bottom: 0%;
    top: 0%;
    overflow: visible;
}

.frame-14 {
    background: #ffffff;
    border-radius: 24px;
    border-style: solid;
    border-color: var(--green-stroke, rgba(25, 126, 55, 0.70));
    border-width: 1px;
    width: 426px;
    height: 232px;
    position: absolute;
    left: 1117px;
    top: 328px;
    box-shadow: var(--drop-shadown-box-shadow, 0px 4px 4px 0px rgba(32, 61, 52, 0.38));
    overflow: hidden;
}

.frame-204 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 97px;
    top: 109px;
}

.business-advisory {
    color: #203d34;
    text-align: center;
    font-family: 'Roboto-Medium', sans-serif;
    font-size: 28px;
    font-weight: 500;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.frame-214 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 37px;
    top: 149px;
}

.comprehensive-advice-on-business-structures-and-financial-decisions {
    color: #29755a;
    text-align: center;
    font-family: var(--type-of-service-description-1-font-family, 'Roboto-Regular', sans-serif);
    font-size: var(--type-of-service-description-1-font-size, 22px);
    font-weight: var(--type-of-service-description-1-font-weight, 400);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fi-rs-chat-arrow-grow {
    width: 49px;
    height: 49px;
    position: absolute;
    left: 188px;
    top: 40px;
    overflow: visible;
    aspect-ratio: 1;
}

.frame-15 {
    background: #ffffff;
    border-radius: 24px;
    border-style: solid;
    border-color: rgba(25, 126, 55, 0.70);
    border-width: 1px;
    width: 426px;
    height: 232px;
    position: absolute;
    left: 185px;
    top: 328px;
    box-shadow: 0px 4px 4px 0px rgba(32, 61, 52, 0.38);
    overflow: hidden;
}

.frame-205 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 115px;
    top: 109px;
}

.estate-planning {
    color: #203d34;
    text-align: center;
    font-family: 'Roboto-Medium', sans-serif;
    font-size: 28px;
    font-weight: 500;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.frame-215 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 39px;
    top: 149px;
}

.securing-your-legacy-with-efficient-estate-and-inheritance-tax-planning {
    color: #29755a;
    text-align: center;
    font-family: var(--type-of-service-description-1-font-family, 'Roboto-Regular', sans-serif);
    font-size: var(--type-of-service-description-1-font-size, 22px);
    font-weight: var(--type-of-service-description-1-font-weight, 400);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fi-rs-bank {
    width: 49px;
    height: 49px;
    position: absolute;
    left: 189px;
    top: 40px;
    overflow: visible;
    aspect-ratio: 1;
}

.frame-16 {
    background: #ffffff;
    border-radius: 24px;
    border-style: solid;
    border-color: rgba(25, 126, 55, 0.70);
    border-width: 1px;
    width: 426px;
    height: 232px;
    position: absolute;
    left: 651px;
    top: 328px;
    box-shadow: 0px 4px 4px 0px rgba(32, 61, 52, 0.38);
    overflow: hidden;
}

.frame-206 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 124px;
    top: 109px;
}

.audit-defense {
    color: #203d34;
    text-align: center;
    font-family: 'Roboto-Medium', sans-serif;
    font-size: 28px;
    font-weight: 500;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.frame-216 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 13px;
    top: 149px;
}

.professional-representation-and-support-during-tax-audits-and-inquiries {
    color: #29755a;
    text-align: center;
    font-family: var(--type-of-service-description-1-font-family, 'Roboto-Regular', sans-serif);
    font-size: var(--type-of-service-description-1-font-size, 22px);
    font-weight: var(--type-of-service-description-1-font-weight, 400);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fi-rs-shield-plus {
    width: 49px;
    height: 49px;
    position: absolute;
    left: 188px;
    top: 40px;
    overflow: hidden;
    aspect-ratio: 1;
}

._01-align-center2 {
    width: 83.33%;
    height: 100%;
    position: absolute;
    right: 8.33%;
    left: 8.33%;
    bottom: -0.04%;
    top: 0.04%;
    overflow: visible;
}

.frame-19 {
    width: 980px;
    height: 299px;
    position: absolute;
    left: 376px;
    top: 0px;
}

.title {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50px;
    top: 82px;
}

.strategic-tax-solutions-for-financial-success {
    text-align: center;
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 64px;
    font-weight: 700;
    position: relative;
}

.strategic-tax-solutions-for-financial-success-span {
    color: #29755a;
}

.strategic-tax-solutions-for-financial-success-span2 {
    color: #000000;
}

.imp-t-ile2 {
    background: #87e0c4;
    border-radius: 24px;
    border-style: solid;
    border-color: #29755a;
    border-width: 1px;
    padding: 8px 20px 8px 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 427px;
    top: 24px;
}

.our-services2 {
    color: #203d34;
    text-align: left;
    font-family: 'Inter-Regular', sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: relative;
}

.short-intro2 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 85px;
    top: 253px;
}

.we-provide-a-wide-range-of-tax-services-designed-to-address-the-unique-challenges-faced-by-individuals-and-businesses {
    color: #565656;
    text-align: center;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 22px;
    font-weight: 400;
    position: relative;
}

.book-a-call {
    background: #48a383;
    border-radius: 12px;
    padding: 25px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 752px;
    top: 972px;
}

.frame-8 {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.view-all-services {
    color: #ffffff;
    text-align: center;
    font-family: 'Montserrat-SemiBold', sans-serif;
    font-size: 20px;
    font-weight: 600;
    position: relative;
}

.hero {
    width: 1728px;
    height: 1117px;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
    backdrop-filter: blur(1.5px);
}

.hero-section {
    width: 1728px;
    height: 1117px;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
}

.title2 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 145px;
    top: 382px;
}

.strategic-tax-solutions-for-financial-success2 {
    text-align: left;
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 60px;
    font-weight: 700;
    position: relative;
}

.strategic-tax-solutions-for-financial-success-2-span {
    color: #ffffff;
}

.strategic-tax-solutions-for-financial-success-2-span2 {
    color: #79ffd6;
}

.image-speciality {
    background: #203d34;
    border-radius: 30px;
    width: 646px;
    height: 673px;
    position: absolute;
    left: 937px;
    top: 222px;
    overflow: hidden;
}

.frame-3 {
    width: 646px;
    height: 519px;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
    object-fit: cover;
}

.group-1 {
    position: absolute;
    inset: 0;
}

.frame-5 {
    padding: 0px 10px 0px 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 157px;
    top: 540px;
}

.personalized-tax-strategy {
    color: #ffffff;
    text-align: center;
    font-family: 'Poppins-Medium', sans-serif;
    font-size: 24px;
    font-weight: 500;
    position: relative;
}

.frame-6 {
    padding: 0px 10px 0px 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 88px;
    top: 602px;
}

.we-create-customized-tax-plans-that-align-with-your-personal-and-business-goals {
    color: #ffffff;
    text-align: center;
    font-family: 'Roboto-Light', sans-serif;
    font-size: 20px;
    font-weight: 300;
    position: relative;
}

.line-1 {
    margin-top: -1px;
    border-style: solid;
    border-color: rgba(59, 115, 98, 0.80);
    border-width: 1px 0 0 0;
    width: 564px;
    height: 0px;
    position: absolute;
    left: 41px;
    top: 586px;
    transform-origin: 0 0;
    transform: rotate(-0.203deg) scale(1, 1);
}

.short-intro3 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 145px;
    top: 543px;
}

.expert-tax-consultancy-to-optimize-your-financial-position-minimize-liabilities-and-ensure-compliance-while-maximizing-potential-benefits {
    color: #ffffff;
    text-align: left;
    font-family: 'Roboto-Light', sans-serif;
    font-size: 22px;
    font-weight: 300;
    position: relative;
}

.call-to-action {
    position: absolute;
    inset: 0;
}

.book-a-call2 {
    background: #48a383;
    border-radius: 12px;
    padding: 25px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 145px;
    top: 681px;
}

.schedule-consultation {
    color: #ffffff;
    text-align: center;
    font-family: 'Montserrat-SemiBold', sans-serif;
    font-size: 20px;
    font-weight: 600;
    position: relative;
}

.arrow {
    flex-shrink: 0;
    width: 19px;
    height: 11.99px;
    position: relative;
    overflow: visible;
}

.our-services3 {
    background: rgba(24, 61, 50, 0.50);
    border-radius: 12px;
    border-style: solid;
    border-color: #29755a;
    border-width: 1px;
    padding: 25px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 500px;
    top: 681px;
}

.our-services4 {
    color: #ffffff;
    text-align: center;
    font-family: 'Montserrat-SemiBold', sans-serif;
    font-size: 20px;
    font-weight: 600;
    position: relative;
}

.imp-t-ile3 {
    background: rgba(24, 61, 50, 0.50);
    border-radius: 24px;
    border-style: solid;
    border-color: #29755a;
    border-width: 1px;
    padding: 8px 20px 8px 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 269px;
    top: 321px;
}

.commit-conservatively-deliver-exceptionally {
    color: #ffffff;
    text-align: left;
    font-family: 'Inter-SemiBold', sans-serif;
    font-size: 20px;
    font-weight: 600;
    position: relative;
}

.speciality {
    position: absolute;
    inset: 0;
}

.speciality-1 {
    width: 123px;
    height: 20px;
    position: static;
}

.sign {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 151px;
    top: 783px;
    overflow: visible;
}

.expert-advisors {
    color: #ffffff;
    text-align: left;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    left: 176px;
    top: 784px;
}

.speciality-2 {
    width: 137px;
    height: 20px;
    position: static;
}

.sign2 {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 301px;
    top: 783px;
    overflow: visible;
}

.tailored-solutions {
    color: #ffffff;
    text-align: left;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    left: 326px;
    top: 784px;
}

.speciality-3 {
    width: 126px;
    height: 20px;
    position: static;
}

.sign3 {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 468px;
    top: 783px;
    overflow: visible;
}

.audit-protection {
    color: #ffffff;
    text-align: left;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    left: 493px;
    top: 784px;
}

.scroll-down-to-explore {
    position: absolute;
    inset: 0;
}

.scroll-down-to-explore2 {
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-family: 'Inter-Medium', sans-serif;
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    left: 797px;
    top: 999px;
}

.down-arrow {
    width: 0.82%;
    height: 1.18%;
    position: absolute;
    right: 49.59%;
    left: 49.59%;
    bottom: 4.73%;
    top: 94.09%;
    overflow: visible;
}

.nav-bar {
    background: rgba(0, 0, 0, 0.00);
    width: 1728px;
    height: 88px;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
}

.nav-buttons {
    position: absolute;
    inset: 0;
}

.home2 {
    padding: 10px 16px 10px 16px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 1012px;
    top: 27px;
}

.home3 {
    color: #86e0c4;
    text-align: center;
    font-family: 'Inter-Regular', sans-serif;
    font-size: 20px;
    font-weight: 400;
    position: relative;
}

.about {
    padding: 10px 16px 10px 16px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 1100px;
    top: 27px;
}

.about2 {
    color: #ffffff;
    text-align: center;
    font-family: 'Inter-Regular', sans-serif;
    font-size: 20px;
    font-weight: 400;
    position: relative;
}

.services {
    padding: 10px 16px 10px 16px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 1189px;
    top: 27px;
}

.services2 {
    color: #ffffff;
    text-align: center;
    font-family: 'Inter-Regular', sans-serif;
    font-size: 20px;
    font-weight: 400;
    position: relative;
}

.contact-us {
    padding: 10px 16px 10px 16px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 1303px;
    top: 27px;
}

.contact {
    color: #ffffff;
    text-align: center;
    font-family: 'Inter-Regular', sans-serif;
    font-size: 20px;
    font-weight: 400;
    position: relative;
}

.book-a-call3 {
    background: #48a383;
    border-radius: 9.38px;
    padding: 10.5px 20px 10.5px 20px;
    display: flex;
    flex-direction: row;
    gap: 12.5px;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 1427px;
    top: 27px;
}

.icon {
    flex-shrink: 0;
    width: 14px;
    height: 14px;
    position: relative;
    overflow: visible;
    aspect-ratio: 1;
}

.sign-in {
    color: #ffffff;
    text-align: center;
    font-family: 'Montserrat-SemiBold', sans-serif;
    font-size: 15.625px;
    font-weight: 600;
    position: relative;
}

.footer {
    background: #f2f2f2;
    width: 1728px;
    height: 424px;
    position: absolute;
    left: 0px;
    top: 3533px;
    box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.frame-33 {
    display: flex;
    flex-direction: row;
    gap: 28.02px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 144px;
    top: 80px;
}

.taxellence {
    text-align: left;
    font-family: 'InstrumentSans-SemiBold', sans-serif;
    font-size: 48px;
    font-weight: 600;
    position: relative;
}

.taxellence-span {
    color: #184739;
}

.taxellence-span2 {
    color: rgba(25, 126, 55, 0.89);
}

.frame-2823 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 1238px;
    top: 175px;
}

._22nd-floor-world-trade-center-no-2201-a-malleshwaram-bengaluru-karnataka-560055-mail-hitesh {
    color: rgba(68, 68, 68, 0.80);
    text-align: left;
    font-family: 'InstrumentSans-Regular', sans-serif;
    font-size: 20px;
    font-weight: 400;
    position: relative;
    width: 321px;
}

.group-4 {
    position: absolute;
    inset: 0;
}

.frame-34 {
    display: flex;
    flex-direction: row;
    gap: 28.02px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 169px;
    top: 141px;
}

.working-hours {
    color: rgba(68, 68, 68, 0.80);
    text-align: left;
    font-family: 'InstrumentSans-Medium', sans-serif;
    font-size: 20px;
    font-weight: 500;
    position: relative;
}

.frame-35 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 169px;
    top: 175px;
}

.monday-tuesday-wednesday-thursday-friday-saturday {
    color: rgba(68, 68, 68, 0.80);
    text-align: left;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 20px;
    line-height: 130%;
    font-weight: 400;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.frame-36 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 279px;
    top: 175px;
}

.div {
    color: rgba(68, 68, 68, 0.80);
    text-align: left;
    font-family: 'Roboto-Light', sans-serif;
    font-size: 20px;
    line-height: 130%;
    font-weight: 300;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.frame-38 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 293px;
    top: 175px;
}

._9-am-to-6-pm-9-am-to-6-pm-9-am-to-6-pm-9-am-to-6-pm-9-am-to-6-pm-9-am-to-6-pm {
    color: rgba(68, 68, 68, 0.80);
    text-align: left;
    font-family: 'InstrumentSans-Regular', sans-serif;
    font-size: 20px;
    line-height: 130%;
    font-weight: 400;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.line-2 {
    margin-top: -0.5px;
    border-style: solid;
    border-color: rgba(68, 68, 68, 0.80);
    border-width: 0.5px 0 0 0;
    width: 1660.08px;
    height: 0px;
    position: absolute;
    left: 48px;
    top: 344px;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
}

._2025-taxcellence-all-rights-reserved {
    color: rgba(68, 68, 68, 0.80);
    text-align: left;
    font-family: 'Roboto-Light', sans-serif;
    font-size: 20px;
    font-weight: 300;
    position: absolute;
    left: 48px;
    top: 372px;
}

.frame-2832 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 1522px;
    top: 372px;
}

.privacy-policy {
    color: rgba(68, 68, 68, 0.80);
    text-align: left;
    font-family: 'Roboto-Light', sans-serif;
    font-size: 20px;
    font-weight: 300;
    position: relative;
}