.mac-book-pro-16-20,
.mac-book-pro-16-20 * {
    box-sizing: border-box;
}

.mac-book-pro-16-20 {
    background: #e6f2ea;
    height: 1117px;
    position: relative;
    overflow: hidden;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 603px;
    top: 62px;
}

.frame-8 {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.create-an-account {
    color: #333333;
    text-align: left;
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 35.31501007080078px;
    font-weight: 500;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.frame-218 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.text-field {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.frame-302 {
    padding: 0px 0px 0px 4px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.name {
    color: #5c605d;
    text-align: left;
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 17.65750503540039px;
    font-weight: 400;
    position: relative;
}

.text-field2 {
    border-radius: 13.24px;
    border-style: solid;
    border-color: rgba(33, 33, 33, 0.70);
    border-width: 1.1px;
    flex-shrink: 0;
    width: 522px;
    height: 61.8px;
    position: relative;
    overflow: hidden;
}

.contact-number {
    color: #5c605d;
    text-align: left;
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 17.65750503540039px;
    font-weight: 400;
    position: relative;
}

.e-mail {
    color: #5c605d;
    text-align: left;
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 17.65750503540039px;
    font-weight: 400;
    position: relative;
}

.frame-304 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    flex-shrink: 0;
    height: 22px;
    position: relative;
}

.password {
    color: #5c605d;
    text-align: left;
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 17.65750503540039px;
    font-weight: 400;
    position: relative;
}

.password-hide-see {
    padding: 0px 16px 0px 0px;
    display: flex;
    flex-direction: row;
    gap: 2px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 22px;
    position: relative;
}

.frame-303 {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.icon {
    flex-shrink: 0;
    width: 22px;
    height: 22px;
    position: relative;
    overflow: hidden;
}

.group-1 {
    width: 75.77%;
    height: 66.65%;
    position: absolute;
    right: 12.09%;
    left: 12.14%;
    bottom: 16.64%;
    top: 16.71%;
    overflow: visible;
}

.hide {
    color: #505050;
    text-align: right;
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 19.86469268798828px;
    font-weight: 400;
    position: relative;
}

.frame-306 {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.text-field3 {
    border-radius: 13.24px;
    border-style: solid;
    border-color: rgba(33, 33, 33, 0.70);
    border-width: 1.1px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex-shrink: 0;
    width: 522px;
    height: 61.8px;
    position: relative;
    overflow: hidden;
}

.frame-305 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    height: 19px;
    position: relative;
}

.error-message {
    color: #4c4c4c;
    text-align: justified;
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 15.4503173828125px;
    font-weight: 400;
    position: relative;
    display: flex;
    align-items: center;
}

.confirm-password {
    color: #5c605d;
    text-align: left;
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 17.65750503540039px;
    font-weight: 400;
    position: relative;
}

.group-12 {
    width: 75.77%;
    height: 66.65%;
    position: absolute;
    right: 12.09%;
    left: 12.14%;
    bottom: 16.64%;
    top: 16.71%;
    overflow: visible;
}

.link-text {
    padding: 8.83px 8.83px 8.83px 0px;
    display: flex;
    flex-direction: row;
    gap: 11.04px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 400.6px;
    position: relative;
}

.by-creating-an-account-you-agree-to-our-terms-of-use-and-privacy-policy {
    text-align: center;
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 17.65750503540039px;
    font-weight: 400;
    position: relative;
    width: 361px;
}

.by-creating-an-account-you-agree-to-our-terms-of-use-and-privacy-policy-span {
    color: #4c4c4c;
}

.by-creating-an-account-you-agree-to-our-terms-of-use-and-privacy-policy-span2 {
    color: #111111;
    text-decoration: underline;
}

.by-creating-an-account-you-agree-to-our-terms-of-use-and-privacy-policy-span3 {
    color: #4c4c4c;
    text-decoration: underline;
}

.not-a-robot-checkbox {
    background: #ffffff;
    border-radius: 19.86px;
    border-style: solid;
    border-color: #333333;
    border-width: 1.1px;
    padding: 13.24px 35.32px 13.24px 35.32px;
    flex-shrink: 0;
    width: 400.6px;
    height: 75.04px;
    position: relative;
}

.frame-217 {
    display: flex;
    flex-direction: row;
    gap: 8.83px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 26.49px;
    top: 24.28px;
}

.check-box {
    flex-shrink: 0;
    width: 19.86px;
    height: 19.86px;
    position: relative;
    overflow: visible;
}

.i-m-not-a-robot {
    color: #333333;
    text-align: center;
    font-family: 'Montserrat-Light', sans-serif;
    font-size: 17.65750503540039px;
    font-weight: 300;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.google-recaptcha-official-2 {
    width: 52.97px;
    height: 51.08px;
    position: absolute;
    right: 26.49px;
    top: 12.14px;
    overflow: visible;
}

.frame-3 {
    display: flex;
    flex-direction: column;
    gap: 8.83px;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.button {
    background: rgba(102, 102, 102, 0.50);
    border-radius: 35.32px;
    flex-shrink: 0;
    position: relative;
    box-shadow: 0px 4px 4px 0px rgba(166, 172, 168, 1.00);
    overflow: hidden;
}

.frame-276 {
    display: flex;
    flex-direction: row;
    gap: 8.83px;
    align-items: center;
    justify-content: center;
    height: 36.42px;
    position: absolute;
    left: 50%;
    translate: -50% -50%;
    top: 50%;
}

.create-an-accrount {
    color: #ffffff;
    text-align: center;
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 24.279069900512695px;
    font-weight: 500;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.group-11 {
    position: absolute;
    inset: 0;
}

.have-an-account-login {
    padding: 2.21px;
    display: flex;
    flex-direction: row;
    gap: 11.04px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 943px;
    top: 1029px;
}

.sign-in {
    color: #333333;
    text-align: left;
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 17.65750503540039px;
    font-weight: 400;
    text-decoration: underline;
    position: relative;
}

.have-an-account-login2 {
    padding: 2.21px;
    display: flex;
    flex-direction: row;
    gap: 11.04px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 718px;
    top: 1029px;
}

.already-have-an-ccount {
    text-align: left;
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 17.65750503540039px;
    font-weight: 400;
    position: relative;
}

.already-have-an-ccount-span {
    color: rgba(51, 51, 51, 0.60);
}

.already-have-an-ccount-span2 {
    color: #666666;
}

.already-have-an-ccount-span3 {
    color: #666666;
    text-decoration: underline;
}






.group-11,
.group-11 * {
    box-sizing: border-box;
}

.group-11 {
    position: relative;
}

.have-an-account-login {
    padding: 2.21px;
    display: flex;
    flex-direction: row;
    gap: 11.04px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 225px;
    top: 0px;
}

.sign-in {
    color: #333333;
    text-align: left;
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 17.65750503540039px;
    font-weight: 400;
    text-decoration: underline;
    position: relative;
}

.have-an-account-login2 {
    padding: 2.21px;
    display: flex;
    flex-direction: row;
    gap: 11.04px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 0px;
    top: 0px;
}

.already-have-an-ccount {
    text-align: left;
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 17.65750503540039px;
    font-weight: 400;
    position: relative;
}

.already-have-an-ccount-span {
    color: rgba(51, 51, 51, 0.60);
}

.already-have-an-ccount-span2 {
    color: #666666;
}

.already-have-an-ccount-span3 {
    color: #666666;
    text-decoration: underline;
}

.button,
.button * {
    box-sizing: border-box;
}

.button {
    background: rgba(102, 102, 102, 0.50);
    border-radius: 35.32px;
    flex-shrink: 0;
    width: 297.97px;
    height: 70.63px;
    position: relative;
    box-shadow: 0px 4px 4px 0px rgba(166, 172, 168, 1.00);
    overflow: hidden;
}

.frame-276 {
    display: flex;
    flex-direction: row;
    gap: 8.83px;
    align-items: center;
    justify-content: center;
    height: 36.42px;
    position: absolute;
    left: 50%;
    translate: -50% -50%;
    top: 50%;
}

.create-an-accrount {
    color: #ffffff;
    text-align: center;
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 24.279069900512695px;
    font-weight: 500;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}





.group-11,
.group-11 * {
    box-sizing: border-box;
}

.group-11 {
    position: relative;
}

.have-an-account-login {
    padding: 2.21px;
    display: flex;
    flex-direction: row;
    gap: 11.04px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 225px;
    top: 0px;
}

.sign-in {
    color: #333333;
    text-align: left;
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 17.65750503540039px;
    font-weight: 400;
    text-decoration: underline;
    position: relative;
}

.have-an-account-login2 {
    padding: 2.21px;
    display: flex;
    flex-direction: row;
    gap: 11.04px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 0px;
    top: 0px;
}

.already-have-an-ccount {
    text-align: left;
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 17.65750503540039px;
    font-weight: 400;
    position: relative;
}

.already-have-an-ccount-span {
    color: rgba(51, 51, 51, 0.60);
}

.already-have-an-ccount-span2 {
    color: #666666;
}

.already-have-an-ccount-span3 {
    color: #666666;
    text-decoration: underline;
}