<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link   rel="icon" href="/img/logo.png">
    <title>Texellence</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
     <div class="mac-book-pro-16-8" style="background: url(/img/26867ad2198305c69496a064c9077d7eee915f3e.jpg) center; background-size: cover; background-repeat: no-repeat;">
    <div class="home">
        <div class="testimonials">
            <div class="imp-t-ile">
                <div class="testimonials2"> Testimonials </div>
            </div>
            <div class="frame-28">
                <img class="frame-282" src="frame-2820.png" />
                <div class="frame-284">
                    <div class="hitesh-is-patient-and-listens-to-everything-carefully-explains-all-the-queries-in-easiest-and-best-way-possible-with-examples-i-would-highly-recommend-them-for-all-its-filings-and-gst-assessments"> Hitesh is patient and listens to everything carefully. Explains all the queries in easiest and best way possible with examples. I would highly recommend them for all its filings and gst assessments </div>
                </div>
            </div><img class="ellipse-3" src="ellipse-30.png" />
            <div class="frame-283">
                <img class="frame-2822" src="frame-2821.png" />
                <div class="frame-2842">
                    <div class="hitesh-is-patient-and-listens-to-everything-carefully-explains-all-the-queries-in-easiest-and-best-way-possible-with-examples-i-would-highly-recommend-them-for-all-its-filings-and-gst-assessments2"> Hitesh is patient and listens to everything carefully. Explains all the queries in easiest and best way possible with examples. I would highly recommend them for all its filings and gst assessments </div>
                </div>
            </div><img class="ellipse-32" src="ellipse-31.png" />
            <div class="frame-285">
                <img class="frame-2822" src="frame-2822.png" />
                <div class="frame-2842">
                    <div class="hitesh-is-patient-and-listens-to-everything-carefully-explains-all-the-queries-in-easiest-and-best-way-possible-with-examples-i-would-highly-recommend-them-for-all-its-filings-and-gst-assessments2"> Hitesh is patient and listens to everything carefully. Explains all the queries in easiest and best way possible with examples. I would highly recommend them for all its filings and gst assessments </div>
                </div>
            </div><img class="ellipse-33" src="ellipse-32.png" />
            <div class="frame-286">
                <img class="frame-2822" src="frame-2823.png" />
                <div class="frame-2842">
                    <div class="hitesh-is-patient-and-listens-to-everything-carefully-explains-all-the-queries-in-easiest-and-best-way-possible-with-examples-i-would-highly-recommend-them-for-all-its-filings-and-gst-assessments2"> Hitesh is patient and listens to everything carefully. Explains all the queries in easiest and best way possible with examples. I would highly recommend them for all its filings and gst assessments </div>
                </div>
            </div><img class="ellipse-34" src="ellipse-33.png" />
            <div class="frame-287">
                <img class="frame-2822" src="frame-2824.png" />
                <div class="frame-2842">
                    <div class="hitesh-is-patient-and-listens-to-everything-carefully-explains-all-the-queries-in-easiest-and-best-way-possible-with-examples-i-would-highly-recommend-them-for-all-its-filings-and-gst-assessments2"> Hitesh is patient and listens to everything carefully. Explains all the queries in easiest and best way possible with examples. I would highly recommend them for all its filings and gst assessments </div>
                </div>
            </div><img class="ellipse-35" src="ellipse-34.png" />
        </div>
        <div class="about-us">
            <img class="frame-26" src="/img/img 2.jpg" />
            <div class="about-us2"> About Us </div>
            <div class="short-intro">
                <div class="at-taxellence-we-specialize-in-providing-expert-tax-and-financial-consulting-to-businesses-and-individuals-with-over-eight-years-of-experience-we-simplify-complex-financial-landscapes-through-strategic-tax-planning-compliance-and-tailored-financial-solutions-our-approach-goes-beyond-numbers-we-focus-on-efficiency-growth-and-long-term-financial-stability-by-staying-ahead-of-industry-trends-and-regulations-we-ensure-our-clients-receive-precise-ethical-and-forward-thinking-guidance-at-taxellence-trust-transparency-and-excellence-are-at-the-core-of-everything-we-do-let-s-build-a-stronger-financial-future-together"> At Taxellence, we specialize in providing expert tax and financial consulting to businesses and individuals. With over eight years of experience, we simplify complex financial landscapes through strategic tax planning, compliance, and tailored financial solutions.<br />Our approach goes beyond numbers—we focus on efficiency, growth, and long-term financial stability. By staying ahead of industry trends and regulations, we ensure our clients receive precise, ethical, and forward-thinking guidance.<br />At Taxellence, trust, transparency, and excellence are at the core of everything we do. Let’s build a stronger financial future together. </div>
            </div>
        </div>
        <div class="our-services">
            <div class="frame-10">
                <div class="frame-11">
                    <div class="frame-20">
                        <div class="tax-planning"> Tax Planning </div>
                    </div>
                    <div class="frame-21">
                        <div class="strategic-planning-to-minimize-tax-liabilities-and-maximize-your-financial-efficiency"> Strategic planning to minimize<br />tax liabilities and maximize your<br />financial efficiency. </div>
                    </div><svg class="fi-rs-calculator" width="49" height="49" viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.04102 49H46.9577V6.125C46.9577 4.50055 46.3124 2.94263 45.1637 1.79397C44.0151 0.645311 42.4571 0 40.8327 0L8.16602 0C6.54156 0 4.98365 0.645311 3.83499 1.79397C2.68633 2.94263 2.04102 4.50055 2.04102 6.125V49ZM6.12435 6.125C6.12435 5.58352 6.33945 5.06421 6.72234 4.68132C7.10523 4.29844 7.62453 4.08333 8.16602 4.08333H40.8327C41.3742 4.08333 41.8935 4.29844 42.2764 4.68132C42.6592 5.06421 42.8744 5.58352 42.8744 6.125V44.9167H6.12435V6.125ZM10.2077 20.4167H38.791V8.16667H10.2077V20.4167ZM14.291 12.25H34.7077V16.3333H14.291V12.25ZM10.2077 26.5417H14.291V30.625H10.2077V26.5417ZM18.3743 26.5417H22.4577V30.625H18.3743V26.5417ZM30.6243 26.5417V30.625H26.541V26.5417H30.6243ZM10.2077 34.7083H14.291V38.7917H10.2077V34.7083ZM18.3743 34.7083H22.4577V38.7917H18.3743V34.7083ZM34.7077 26.5417H38.791V30.625H34.7077V26.5417ZM26.541 34.7083H38.791V38.7917H26.541V34.7083Z" fill="#374957" />
                    </svg>
                </div>
                <div class="frame-12">
                    <div class="frame-202">
                        <div class="tax-compliance"> Tax Compliance </div>
                    </div>
                    <div class="frame-212">
                        <div class="ensuring-your-tax-filings-are-accurate-complete-and-submitted-on-time"> Ensuring your tax filings are <br />accurate, complete, and <br />submitted on time.<br /> </div>
                    </div><svg class="fi-rs-file-check" width="49" height="49" viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M29.4292 0H10.209C8.58453 0 7.02662 0.645311 5.87796 1.79397C4.7293 2.94263 4.08398 4.50055 4.08398 6.125V49H44.9173V15.4881L29.4292 0ZM30.6257 6.97025L37.9471 14.2917H30.6257V6.97025ZM8.16732 44.9167V6.125C8.16732 5.58352 8.38242 5.06421 8.76531 4.68132C9.1482 4.29844 9.6675 4.08333 10.209 4.08333H26.5423V18.375H40.834V44.9167H8.16732ZM31.2239 26.7908L34.1108 29.6777L26.7894 36.997C26.2206 37.5659 25.5453 38.0172 24.8021 38.325C24.059 38.6329 23.2624 38.7914 22.458 38.7914C21.6535 38.7914 20.857 38.6329 20.1138 38.325C19.3706 38.0172 18.6953 37.5659 18.1266 36.997L14.8905 33.761L17.7774 30.8741L21.0155 34.1101C21.4042 34.4818 21.9212 34.6892 22.459 34.6892C22.9967 34.6892 23.5138 34.4818 23.9024 34.1101L31.2239 26.7908Z" fill="#374957" />
                    </svg>
                </div>
                <div class="frame-13">
                    <div class="frame-203">
                        <div class="international-taxation"> International Taxation </div>
                    </div>
                    <div class="frame-213">
                        <div class="expert-guidance-on-cross-border-transactions-and-global-tax-obligations"> Expert guidance on cross-border <br />transactions and global <br />tax obligations.<br /> </div>
                    </div>
                    <div class="fi-rs-globe">
                        <svg class="_01-align-center" width="49" height="49" viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M24.5 0C19.6544 0 14.9175 1.4369 10.8885 4.12899C6.85954 6.82109 3.71931 10.6475 1.86496 15.1243C0.0106155 19.601 -0.474566 24.5272 0.470772 29.2797C1.41611 34.0322 3.74951 38.3977 7.1759 41.8241C10.6023 45.2505 14.9678 47.5839 19.7203 48.5292C24.4728 49.4746 29.399 48.9894 33.8758 47.135C38.3525 45.2807 42.1789 42.1405 44.871 38.1115C47.5631 34.0825 49 29.3456 49 24.5C48.993 18.0044 46.4095 11.7768 41.8164 7.18364C37.2233 2.59052 30.9957 0.00702554 24.5 0V0ZM42.1543 14.2917H35.5781C34.106 10.88 32.1677 7.68909 29.8186 4.81017C35.0176 6.22489 39.4497 9.6315 42.1543 14.2917ZM33.6875 24.5C33.6708 26.5787 33.3432 28.6432 32.7157 30.625H16.2843C15.6568 28.6432 15.3293 26.5787 15.3125 24.5C15.3293 22.4213 15.6568 20.3568 16.2843 18.375H32.7157C33.3432 20.3568 33.6708 22.4213 33.6875 24.5ZM17.9218 34.7083H31.0783C29.3454 38.1296 27.13 41.2842 24.5 44.0755C21.8691 41.285 19.6536 38.1303 17.9218 34.7083ZM17.9218 14.2917C19.6547 10.8704 21.87 7.71578 24.5 4.9245C27.131 7.71499 29.3464 10.8697 31.0783 14.2917H17.9218ZM19.1917 4.81017C16.839 7.68848 14.8972 10.8794 13.4219 14.2917H6.84572C9.55267 9.62938 13.9888 6.2225 19.1917 4.81017ZM5.02455 18.375H12.0458C11.5166 20.3741 11.2422 22.4321 11.2292 24.5C11.2422 26.5679 11.5166 28.6259 12.0458 30.625H5.02455C3.76962 26.6381 3.76962 22.3619 5.02455 18.375ZM6.84572 34.7083H13.4219C14.8972 38.1206 16.839 41.3115 19.1917 44.1898C13.9888 42.7775 9.55267 39.3706 6.84572 34.7083ZM29.8186 44.1898C32.1677 41.3109 34.106 38.12 35.5781 34.7083H42.1543C39.4497 39.3685 35.0176 42.7751 29.8186 44.1898ZM43.9755 30.625H36.9542C37.4835 28.6259 37.7579 26.5679 37.7708 24.5C37.7579 22.4321 37.4835 20.3741 36.9542 18.375H43.9714C45.2263 22.3619 45.2263 26.6381 43.9714 30.625H43.9755Z" fill="#374957" />
                        </svg>
                    </div>
                </div>
                <div class="frame-14">
                    <div class="frame-204">
                        <div class="business-advisory"> Business Advisory </div>
                    </div>
                    <div class="frame-214">
                        <div class="comprehensive-advice-on-business-structures-and-financial-decisions"> Comprehensive advice on business <br />structures and financial decisions. </div>
                    </div><svg class="fi-rs-chat-arrow-grow" width="49" height="49" viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_569_1415)">
                            <path d="M4.08333 42.8264V-0.048584H0V42.8264C0 44.4509 0.645311 46.0088 1.79397 47.1574C2.94263 48.3061 4.50055 48.9514 6.125 48.9514H49V44.8681H6.125C5.58352 44.8681 5.06421 44.653 4.68132 44.2701C4.29844 43.8872 4.08333 43.3679 4.08333 42.8264Z" fill="#374957" />
                            <path d="M45.938 8.11768H34.7088L40.4112 13.8201L31.6463 22.5849L27.563 18.5016L12.8242 33.2404L15.7213 36.1375L27.5732 24.2958L31.6566 28.3792L43.3083 16.7274L49.0005 22.4093V11.1802C49.0005 10.3679 48.6779 9.58899 48.1035 9.01466C47.5292 8.44033 46.7502 8.11768 45.938 8.11768Z" fill="#374957" />
                        </g>
                        <defs>
                            <clipPath id="clip0_569_1415">
                                <rect width="49" height="49" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>
                </div>
                <div class="frame-15">
                    <div class="frame-205">
                        <div class="estate-planning"> Estate Planning </div>
                    </div>
                    <div class="frame-215">
                        <div class="securing-your-legacy-with-efficient-estate-and-inheritance-tax-planning"> Securing your legacy with efficient <br />estate and inheritance tax planning. </div>
                    </div><svg class="fi-rs-bank" width="49" height="49" viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_569_1423)">
                            <path d="M1.04949e-07 44.9166H49V49H1.04949e-07V44.9166ZM49 16.1475V20.4166H42.875V36.75H46.9583V40.8333H2.04167V36.75H6.125V20.4166H1.04949e-07V16.1475C-0.000203564 15.0471 0.296031 13.967 0.857567 13.0207C1.4191 12.0744 2.2252 11.2968 3.19113 10.7697L21.5661 0.747205C22.4656 0.254876 23.4746 -0.00317383 24.5 -0.00317383C25.5254 -0.00317383 26.5344 0.254876 27.4339 0.747205L45.8089 10.7697C46.7748 11.2968 47.5809 12.0744 48.1424 13.0207C48.704 13.967 49.0002 15.0471 49 16.1475ZM10.2083 36.75H16.3333V20.4166H10.2083V36.75ZM20.4167 20.4166V36.75H28.5833V20.4166H20.4167ZM38.7917 20.4166H32.6667V36.75H38.7917V20.4166ZM44.9167 16.1475C44.9167 15.7807 44.818 15.4207 44.6308 15.1052C44.4436 14.7898 44.1749 14.5306 43.853 14.3549L25.478 4.33237C25.178 4.16868 24.8417 4.08291 24.5 4.08291C24.1583 4.08291 23.822 4.16868 23.522 4.33237L5.14704 14.3549C4.82507 14.5306 4.55637 14.7898 4.36919 15.1052C4.18201 15.4207 4.08327 15.7807 4.08333 16.1475V16.3333H44.9167V16.1475Z" fill="#374957" />
                        </g>
                        <defs>
                            <clipPath id="clip0_569_1423">
                                <rect width="49" height="49" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>
                </div>
                <div class="frame-16">
                    <div class="frame-206">
                        <div class="audit-defense"> Audit Defense </div>
                    </div>
                    <div class="frame-216">
                        <div class="professional-representation-and-support-during-tax-audits-and-inquiries"> Professional representation and support <br />during tax audits and inquiries. </div>
                    </div>
                    <div class="fi-rs-shield-plus">
                        <svg class="_01-align-center2" width="41" height="50" viewBox="0 0 41 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M36.7299 5.39932L20.5006 0.0195312L4.27144 5.39932C3.05379 5.79981 1.99355 6.57428 1.24169 7.61243C0.489834 8.65059 0.0847005 9.8995 0.0839844 11.1813V24.5012C0.0839844 39.8627 18.8673 48.3458 19.6717 48.699L20.3945 49.0195L21.1458 48.7704C21.9543 48.5009 40.9173 42.0125 40.9173 24.5012V11.1813C40.9166 9.8995 40.5115 8.65059 39.7596 7.61243C39.0078 6.57428 37.9475 5.79981 36.7299 5.39932ZM36.834 24.5012C36.834 37.2881 23.8714 43.3172 20.5966 44.634C17.3156 42.9946 4.16732 35.7181 4.16732 24.5012V11.1813C4.16688 10.7538 4.30174 10.3371 4.55259 9.99088C4.80344 9.64468 5.15741 9.38673 5.56382 9.25399L20.5006 4.30091L35.4375 9.25399C35.8439 9.38673 36.1979 9.64468 36.4487 9.99088C36.6996 10.3371 36.8344 10.7538 36.834 11.1813V24.5012Z" fill="#374957" />
                            <path d="M22.5423 16.3347H18.459V22.4597H12.334V26.543H18.459V32.668H22.5423V26.543H28.6673V22.4597H22.5423V16.3347Z" fill="#374957" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="frame-19">
                <div class="title">
                    <div class="strategic-tax-solutions-for-financial-success">
                        <span><span class="strategic-tax-solutions-for-financial-success-span"> Strategic Tax Solutions for<br />
                            </span><span class="strategic-tax-solutions-for-financial-success-span2"> Financial Success </span></span>
                    </div>
                </div>
                <div class="imp-t-ile2">
                    <div class="our-services2"> Our Services </div>
                </div>
                <div class="short-intro2">
                    <div class="we-provide-a-wide-range-of-tax-services-designed-to-address-the-unique-challenges-faced-by-individuals-and-businesses"> We provide a wide range of tax services designed to address the unique challenges<br />faced by individuals and businesses. </div>
                </div>
            </div>
            <div class="book-a-call">
                <div class="frame-8">
                    <a  style="text-decoration: none;" href="pages/allServices" class="view-all-services"> View All Services </a>
                </div>
            </div>
        </div>
        <div class="hero">
            <div class="hero-section">
                <div class="title2">
                    <div class="strategic-tax-solutions-for-financial-success2">
                        <span><span class="strategic-tax-solutions-for-financial-success-2-span"> Strategic Tax Solutions<br />for  </span><span class="strategic-tax-solutions-for-financial-success-2-span2"> Financial Success </span></span>
                    </div>
                </div>
                <div class="image-speciality">
                    <img class="frame-3" src="/img/26867ad2198305c69496a064c9077d7eee915f3e.jpg" />
                    <div class="frame-5">
                        <div class="personalized-tax-strategy"> Personalized Tax Strategy </div>
                    </div>
                    <div class="frame-6">
                        <div class="we-create-customized-tax-plans-that-align-with-your-personal-and-business-goals"> We create customized tax plans that align with your<br />personal and business goals. </div>
                    </div>
                    <div class="line-1">
                    </div>
                </div>
                <div class="short-intro3">
                    <div class="expert-tax-consultancy-to-optimize-your-financial-position-minimize-liabilities-and-ensure-compliance-while-maximizing-potential-benefits"> Expert tax consultancy to optimize your financial position, <br />minimize liabilities, and ensure compliance while <br />maximizing potential benefits. </div>
                </div>
                <div class="book-a-call2">
                    <div class="frame-8">
                        <div class="schedule-consultation"> Schedule Consultation </div>
                    </div><svg class="arrow" width="19" height="12" viewBox="0 0 19 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19 5.99506C18.9951 5.46895 18.7832 4.96596 18.41 4.59506L14.12 0.295065C13.9326 0.108814 13.6792 0.00427246 13.415 0.00427246C13.1508 0.00427246 12.8974 0.108814 12.71 0.295065C12.6163 0.388028 12.5419 0.498629 12.4911 0.620488C12.4403 0.742347 12.4142 0.873053 12.4142 1.00506C12.4142 1.13708 12.4403 1.26778 12.4911 1.38964C12.5419 1.5115 12.6163 1.6221 12.71 1.71506L16 4.99506L1 4.99506C0.734784 4.99506 0.48043 5.10042 0.292893 5.28796C0.105357 5.47549 0 5.72985 0 5.99506C0 6.26028 0.105357 6.51463 0.292893 6.70217C0.48043 6.8897 0.734784 6.99506 1 6.99506L16 6.99506L12.71 10.2851C12.5217 10.472 12.4154 10.7262 12.4144 10.9915C12.4135 11.2569 12.518 11.5117 12.705 11.7001C12.892 11.8884 13.1461 11.9947 13.4115 11.9956C13.6768 11.9965 13.9317 11.892 14.12 11.7051L18.41 7.40506C18.7856 7.03171 18.9978 6.52463 19 5.99506Z" fill="white" />
                    </svg>
                </div>
                <div class="our-services3">
                    <div class="frame-8">
                        <a href="pages/allServices"  style="text-decoration: none;" class="our-services4"> Our Services </a>
                    </div>
                </div>
                <div class="imp-t-ile3">
                    <div class="commit-conservatively-deliver-exceptionally"> Commit conservatively, deliver exceptionally </div>
                </div>
                <div class="speciality-1">
                    <svg class="sign" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.14346 13.7221C8.34428 13.8042 8.55952 13.8463 8.77687 13.8461C8.99241 13.8469 9.20601 13.8058 9.40542 13.725C9.60483 13.6442 9.78614 13.5254 9.93896 13.3754L15.5536 7.90355C15.6958 7.74933 15.7728 7.54719 15.7688 7.33867C15.7647 7.13014 15.6799 6.93106 15.5318 6.78233C15.3837 6.6336 15.1834 6.54652 14.9723 6.53899C14.7611 6.53145 14.5551 6.60402 14.3964 6.7418L8.77108 12.2079L5.63607 9.18361C5.47933 9.03214 5.26806 8.94834 5.04873 8.95064C4.8294 8.95293 4.61998 9.04114 4.46653 9.19584C4.31309 9.35055 4.22819 9.55909 4.23052 9.77559C4.23284 9.99208 4.3222 10.1988 4.47893 10.3503L7.60651 13.3681C7.76017 13.5198 7.94263 13.6401 8.14346 13.7221Z" fill="#02B676" />
                        <circle cx="10" cy="10" r="9" stroke="#02B676" stroke-width="2" />
                    </svg>
                    <div class="expert-advisors"> Expert Advisors </div>
                </div>
                <div class="speciality-2">
                    <svg class="sign2" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.14346 13.7221C8.34428 13.8042 8.55952 13.8463 8.77687 13.8461C8.99241 13.8469 9.20601 13.8058 9.40542 13.725C9.60483 13.6442 9.78614 13.5254 9.93896 13.3754L15.5536 7.90355C15.6958 7.74933 15.7728 7.54719 15.7688 7.33867C15.7647 7.13014 15.6799 6.93106 15.5318 6.78233C15.3837 6.6336 15.1834 6.54652 14.9723 6.53899C14.7611 6.53145 14.5551 6.60402 14.3964 6.7418L8.77108 12.2079L5.63607 9.18361C5.47933 9.03214 5.26806 8.94834 5.04873 8.95064C4.8294 8.95293 4.61998 9.04114 4.46653 9.19584C4.31309 9.35055 4.22819 9.55909 4.23052 9.77559C4.23284 9.99208 4.3222 10.1988 4.47893 10.3503L7.60651 13.3681C7.76017 13.5198 7.94263 13.6401 8.14346 13.7221Z" fill="#02B676" />
                        <circle cx="10" cy="10" r="9" stroke="#02B676" stroke-width="2" />
                    </svg>
                    <div class="tailored-solutions"> Tailored Solutions </div>
                </div>
                <div class="speciality-3">
                    <svg class="sign3" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.14346 13.7221C8.34428 13.8042 8.55952 13.8463 8.77687 13.8461C8.99241 13.8469 9.20601 13.8058 9.40542 13.725C9.60483 13.6442 9.78614 13.5254 9.93896 13.3754L15.5536 7.90355C15.6958 7.74933 15.7728 7.54719 15.7688 7.33867C15.7647 7.13014 15.6799 6.93106 15.5318 6.78233C15.3837 6.6336 15.1834 6.54652 14.9723 6.53899C14.7611 6.53145 14.5551 6.60402 14.3964 6.7418L8.77108 12.2079L5.63607 9.18361C5.47933 9.03214 5.26806 8.94834 5.04873 8.95064C4.8294 8.95293 4.61998 9.04114 4.46653 9.19584C4.31309 9.35055 4.22819 9.55909 4.23052 9.77559C4.23284 9.99208 4.3222 10.1988 4.47893 10.3503L7.60651 13.3681C7.76017 13.5198 7.94263 13.6401 8.14346 13.7221Z" fill="#02B676" />
                        <circle cx="10" cy="10" r="9" stroke="#02B676" stroke-width="2" />
                    </svg>
                    <div class="audit-protection"> Audit Protection </div>
                </div>
               
            </div>
            <div class="nav-bar">
                <div class="home2">
                    <div class="home3"> Home </div>
                </div>
                <div class="about">
                    <div  href="#" onclick="showAboutUs()" class="about2"> About </div>
                </div>
                <div class="services">
                    <div href="#" onclick="scrollToAbout()"  class="services2"> Services </div>
                </div>
                <div class="contact-us">
                    <div href="#" onclick="scrollToContact()"  class="contact"> Contact </div>
                </div>
                <div class="book-a-call3">
                    <svg class="icon" width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.1875 12.75C2.52377 12.3734 4.09868 10.6403 4.56021 10.6403H9.44009C10.1089 10.6403 11.4741 12.0769 11.8125 12.5833M14 7.5C14 11.366 10.866 14.5 7 14.5C3.13401 14.5 0 11.366 0 7.5C0 3.63401 3.13401 0.5 7 0.5C10.866 0.5 14 3.63401 14 7.5ZM9.50749 5.11414C9.50749 3.77866 8.3801 2.6875 7.00021 2.6875C5.62035 2.6875 4.49293 3.77866 4.49293 5.11414C4.49293 6.44961 5.62035 7.54077 7.00021 7.54077C8.38007 7.54077 9.50749 6.44961 9.50749 5.11414Z" stroke="white" stroke-width="1.15" />
                    </svg>
                    <div class="frame-8">
                        <a style="text-decoration: none;" href="pages/signin" class="sign-in"> Sign In </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="frame-33">
                <div class="taxellence">
                    <span><span class="taxellence-span"> Tax </span><span class="taxellence-span2"> ellence </span></span>
                </div>
            </div>
            <div class="frame-2823">
                <div class="_22nd-floor-world-trade-center-no-2201-a-malleshwaram-bengaluru-karnataka-560055-mail-hitesh"> 22nd floor, World Trade Center, <br />No. 2201A, Malleshwaram, Bengaluru, Karnataka 560055<br /><br />mail@hitesh </div>
            </div>
            <div class="frame-34">
                <div class="working-hours"> Working Hours </div>
            </div>
            <div class="frame-35">
                <div class="monday-tuesday-wednesday-thursday-friday-saturday"> Monday <br />Tuesday<br />Wednesday<br />Thursday<br />Friday<br />Saturday </div>
            </div>
            <div class="frame-36">
                <div class="div"> -<br />-<br />-<br />-<br />-<br />- </div>
            </div>
            <div class="frame-38">
                <div class="_9-am-to-6-pm-9-am-to-6-pm-9-am-to-6-pm-9-am-to-6-pm-9-am-to-6-pm-9-am-to-6-pm"> 9 AM to 6 PM<br />9 AM to 6 PM<br />9 AM to 6 PM<br />9 AM to 6 PM<br />9 AM to 6 PM<br />9 AM to 6 PM </div>
            </div>
            <div class="line-2">
            </div>
            <div class="_2025-taxcellence-all-rights-reserved"> © 2025 Taxcellence. All rights reserved </div>
            <div class="frame-2832">
                <a a href="pages/privacyPolicy"  style="text-decoration: none;" class="privacy-policy"> Privacy Policy </a>
            </div>
        </div>
    </div>
</div>

<script>
function showAboutUs() {
  document.querySelector('.about-us').style.display = 'block';
  document.querySelector('.about-us').scrollIntoView({ behavior: 'smooth' });
}
</script>

<script>
  function scrollToAbout() {
    document.querySelector('.imp-t-ile2').scrollIntoView({
      behavior: 'smooth'
    });
  }
</script>

<script>
  function scrollToContact() {
    document.querySelector('.footer').scrollIntoView({
      behavior: 'smooth'
    });
  }
</script>


</body>
</html>
