<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Texellence</title>
    <link rel="stylesheet" href="/css/PrivacyPolicy.css">
</head>
<body>
    <div class="privacy-policy">
    <div class="nav-bar">
        <div class="home">
            <div class="home2"> Home </div>
        </div>
        <div class="about">
            <div class="about2"> About </div>
        </div>
        <div class="services">
            <div class="services2"> Services </div>
        </div>
        <div class="contact-us">
            <div class="contact"> Contact </div>
        </div>
        <div class="book-a-call">
            <svg class="icon" width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.1875 12.75C2.52377 12.3734 4.09868 10.6403 4.56021 10.6403H9.44009C10.1089 10.6403 11.4741 12.0769 11.8125 12.5833M14 7.5C14 11.366 10.866 14.5 7 14.5C3.13401 14.5 0 11.366 0 7.5C0 3.63401 3.13401 0.5 7 0.5C10.866 0.5 14 3.63401 14 7.5ZM9.50749 5.11414C9.50749 3.77866 8.3801 2.6875 7.00021 2.6875C5.62035 2.6875 4.49293 3.77866 4.49293 5.11414C4.49293 6.44961 5.62035 7.54077 7.00021 7.54077C8.38007 7.54077 9.50749 6.44961 9.50749 5.11414Z" stroke="white" stroke-width="1.15" />
            </svg>
            <div class="frame-8">
            </div>
        </div>
    </div>
    <div class="privacy-policy2"> Privacy Policy </div>
    <div class="handling-of-personal-information"> Handling of Personal Information </div>
    <div class="change-notice"> Change Notice </div>
    <div class="questions-comments-concerns"> Questions / Comments / Concerns </div>
    <div class="your-privacy-is-of-utmost-importance-to-us-when-you-access-our-website-your-ip-address-may-be-logged-along-with-the-date-and-time-of-your-visit-this-data-is-used-exclusively-to-identify-usage-trends-manage-the-website-monitor-user-navigation-and-collect-general-demographic-insights-for-internal-purposes-such-as-statistical-analysis-and-enhancing-the-website-s-performance-importantly-any-ip-addresses-recorded-are-not-associated-with-personally-identifiable-details-we-may-also-collect-additional-information-which-is-standard-practice-across-most-websites-for-example-we-can-generally-identify-the-referral-source-that-directed-you-to-our-site-likewise-we-may-track-how-long-you-stay-on-our-site-and-the-next-destination-you-visit-after-leaving-other-routinely-collected-data-includes-your-computer-s-operating-system-and-the-web-browser-you-re-using-these-practices-are-typical-and-serve-to-create-a-better-more-tailored-user-experience-please-assume-that-our-website-utilizes-cookies-you-have-the-option-to-modify-your-browser-settings-to-disable-cookies-or-receive-alerts-when-cookies-are-being-used-allowing-you-to-decide-how-to-proceed-be-aware-however-that-disabling-cookies-may-impair-the-functionality-of-certain-features-and-may-limit-your-ability-to-fully-interact-with-the-website-while-interacting-with-this-website-our-mobile-applications-proprietary-extensions-or-when-using-our-products-and-services-through-online-or-offline-channels-including-but-not-limited-to-bank-branches-authorized-sales-points-third-party-platforms-or-through-any-form-of-communication-electronic-or-otherwise-or-via-any-current-or-future-method-or-platform-introduced-by-us-collectively-referred-to-as-the-services-taxellence-may-collect-obtain-store-utilize-manage-process-transfer-and-retain-your-personal-data-customer-information-by-using-or-accessing-our-services-you-acknowledge-that-you-have-read-understood-and-agreed-to-be-bound-by-this-privacy-policy-and-you-consent-to-the-collection-storage-usage-processing-transfer-and-retention-of-your-customer-information-by-taxellence-as-outlined-herein"> Your privacy is of utmost importance to us. When you access our website, your IP address may be logged along with the date and time of your visit. This data is used exclusively to identify usage trends, manage the website, monitor user navigation, and collect general demographic insights for internal purposes such as statistical analysis and enhancing the website’s performance. Importantly, any IP addresses recorded are not associated with personally identifiable details.<br /><br />We may also collect additional information, which is standard practice across most websites. For example, we can generally identify the referral source that directed you to our site. Likewise, we may track how long you stay on our site and the next destination you visit after leaving. Other routinely collected data includes your computer’s operating system and the web browser you’re using. These practices are typical and serve to create a better, more tailored user experience.<br /><br />Please assume that our website utilizes cookies. You have the option to modify your browser settings to disable cookies or receive alerts when cookies are being used, allowing you to decide how to proceed. Be aware, however, that disabling cookies may impair the functionality of certain features and may limit your ability to fully interact with the website.<br /><br />While interacting with this website, our mobile applications, proprietary extensions, or when using our products and services through online or offline channels including but not limited to bank branches, authorized sales points, third-party platforms, or through any form of communication (electronic or otherwise), or via any current or future method or platform introduced by us (collectively referred to as the “Services”). Taxellence may collect, obtain, store, utilize, manage, process, transfer, and retain your personal data (“Customer Information”). By using or accessing our Services, you acknowledge that you have read, understood, and agreed to be bound by this Privacy Policy and you consent to the collection, storage, usage, processing, transfer, and retention of your Customer Information by Taxellence as outlined herein. </div>
    <div class="the-core-purpose-of-collecting-personal-and-sensitive-information-from-you-is-to-support-the-operations-of-our-business-and-serve-you-more-efficiently-this-data-is-used-internally-to-improve-our-services-and-interactions-with-you-we-do-not-disclose-or-distribute-your-personal-data-to-third-parties-or-external-entities-unless-you-have-explicitly-given-us-consent-to-do-so"> The core purpose of collecting personal and sensitive information from you is to support the operations of our business and serve you more efficiently. This data is used internally to improve our services and interactions with you. We do not disclose or distribute your personal data to third parties or external entities unless you have explicitly given us consent to do so. </div>
    <div class="as-with-all-administrative-and-legal-notice-pages-the-contents-of-this-privacy-policy-are-subject-to-updates-and-modifications-over-time-therefore-the-information-presented-here-may-differ-during-subsequent-visits-these-updates-are-essential-for-ensuring-your-protection-and-the-security-of-our-website-if-this-information-is-of-importance-to-you-we-recommend-reviewing-this-page-periodically-as-we-will-not-provide-prior-or-subsequent-notice-of-any-modifications-made"> As with all administrative and legal notice pages, the contents of this Privacy Policy are subject to updates and modifications over time. Therefore, the information presented here may differ during subsequent visits. These updates are essential for ensuring your protection and the security of our website. If this information is of importance to you, we recommend reviewing this page periodically, as we will not provide prior or subsequent notice of any modifications made. </div>
    <div class="if-you-have-any-inquiries-about-the-content-of-this-policy-or-wish-to-contact-us-for-any-other-purpose-please-feel-free-to-do-so-using-the-contact-details-provided-on-our-website"> If you have any inquiries about the content of this policy or wish to contact us for any other purpose, please feel free to do so using the contact details provided on our website. </div>
</div>
</body>
</html>