
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Texellence</title>
    <link rel="stylesheet" href="/css/signup.css">
</head>
<body>
<div class="mac-book-pro-16-20">
    <div class="content">
        <div class="frame-8">
            <div class="create-an-account"> Create an account </div>
        </div>
        <div class="frame-218">
            <div class="text-field">
                <div class="frame-302">
                    <label class="name"> Name </label>
                </div>
                <input type="text" id="name" name="name" class="text-field2">
                </input>
            </div>

            <div class="text-field">
                <div class="frame-302">
                    <label for="contact" class="contact-number"> Contact Number </label>
                </div>
                <input type="number" id="contact" name="contact" class="text-field2">
                </input>
            </div>
            <div class="text-field">
                <div class="frame-302">
                    <label for="email" class="e-mail"> E-mail </label>
                </div>
                <input type="email" id="email" name="email" class="text-field2">
                </input>
            </div>
            <div class="text-field">
                <div class="frame-304">
                    <div class="frame-302">
                        <label for="password" class="password"> Password </label>
                    </div>
                    <div class="password-hide-see">
                        <div class="frame-303">
                        </div>
                    </div>
                </div>
                <div class="frame-306">
                    <input type="password" id="password" name="password" class="text-field3">
                    </input>
                    <div class="frame-305">
                        <div class="error-message"> Use 8 or more characters with a mix of letters, numbers &amp; symbols </div>
                    </div>
                </d>
            </div>
            <div class="text-field">
                <div class="frame-304">
                    <div class="frame-302">
                        <label for="confirm-password" class="confirm-password"> Confirm Password </label>
                    </div>
                    <div class="password-hide-see">
                        <div class="frame-303">
                           
                        </div>
                    </div>
                </div>
                <div class="frame-306">
                    <input type="password" id="confirm-password" name="confirm-password" class="text-field3">
                    </input>
                    <div class="frame-305">
                        <div class="error-message"> Use 8 or more characters with a mix of letters, numbers &amp; symbols </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="link-text">
            <div class="by-creating-an-account-you-agree-to-our-terms-of-use-and-privacy-policy">
                <span><span class="by-creating-an-account-you-agree-to-our-terms-of-use-and-privacy-policy-span"> By creating an account, you agree to our<br />
                    </span><span class="by-creating-an-account-you-agree-to-our-terms-of-use-and-privacy-policy-span2"> Terms of use </span><span class="by-creating-an-account-you-agree-to-our-terms-of-use-and-privacy-policy-span"> and </span><span class="by-creating-an-account-you-agree-to-our-terms-of-use-and-privacy-policy-span2"> Privacy Policy </span><span class="by-creating-an-account-you-agree-to-our-terms-of-use-and-privacy-policy-span3">
                    </span></span>
            </div>
        </div>
        <div class="not-a-robot-checkbox">
            <div class="frame-217">
                <input type="checkbox" class="check-box" id="not-a-robot" name="not-a-robot">
                    <g clip-path="url(#clip0_399_4676)">
                        <path d="M15.9111 2.49359H4.32336C3.40462 2.49359 2.66797 3.23852 2.66797 4.14898V15.7367C2.66797 16.6472 3.40462 17.3921 4.32336 17.3921H15.9111C16.8298 17.3921 17.5665 16.6472 17.5665 15.7367V4.14898C17.5665 3.23852 16.8298 2.49359 15.9111 2.49359ZM8.46184 14.0813L4.32336 9.94285L5.49041 8.7758L8.46184 11.739L14.744 5.45674L15.9111 6.63207L8.46184 14.0813Z" fill="#34A853" />
                    </g>
                    <defs>
                        <clipPath id="clip0_399_4676">
                            <rect width="19.8647" height="19.8647" fill="white" transform="translate(0.183594 0.010498)" />
                        </clipPath>
                    </defs>
                </input>
                <div class="i-m-not-a-robot"> I’m not a robot </div>
            </div><svg class="google-recaptcha-official-2" width="54" height="52" viewBox="0 0 54 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_399_4680)">
                    <path d="M44.5668 18.5908L44.5488 17.8262V3.3679L40.598 7.36517C37.3648 3.361 32.4458 0.803406 26.9362 0.803406C21.2024 0.803406 16.1085 3.57223 12.8867 7.8584L19.3624 14.4788C19.9991 13.293 20.9005 12.2756 21.9876 11.501C23.1183 10.6084 24.7201 9.87859 26.936 9.87859C27.2038 9.87859 27.4103 9.91 27.5622 9.96987C30.3076 10.1891 32.6877 11.7221 34.0886 13.947L29.5027 18.5866L44.5643 18.5895" fill="#1C3AA9" />
                    <path d="M26.8317 0.803955L26.0758 0.824262H11.7852L15.736 4.82132C11.778 8.0886 9.25 13.0669 9.25 18.6412C9.25 24.4401 11.9868 29.5954 16.2233 32.8533L22.7671 26.3018C21.5957 25.6603 20.5881 24.7517 19.824 23.6479C18.9419 22.504 18.2204 20.8835 18.2204 18.6416C18.2204 18.3707 18.2514 18.1618 18.3106 18.0081C18.5272 15.2305 20.0425 12.8226 22.2417 11.4053L26.8255 16.0427L26.8284 0.804792" fill="#4285F4" />
                    <path d="M9.25391 18.6409L9.27191 19.4054V33.8633L13.2227 29.8663C16.4561 33.8704 21.3751 36.428 26.8846 36.428C32.6164 36.428 37.7121 33.6592 40.9323 29.373L34.4566 22.7527C33.8225 23.9377 32.9244 24.9572 31.8334 25.7302C30.7028 26.6228 29.101 27.3526 26.8851 27.3526C26.6173 27.3526 26.4108 27.3212 26.2589 27.2614C23.5134 27.0422 21.1334 25.5091 19.7325 23.2842L24.3163 18.6467C18.51 18.6677 11.9514 18.6834 9.25473 18.6438" fill="#ABABAB" />
                    <path d="M12.2273 43.3359C11.7979 43.3359 11.4128 43.4184 11.0722 43.583C10.7342 43.7419 10.4375 43.9786 10.2058 44.274C9.97261 44.5734 9.793 44.937 9.66719 45.3639C9.54304 45.7872 9.48386 46.2609 9.48386 46.7874V48.2989C9.48386 48.8271 9.5449 49.3027 9.66719 49.726C9.793 50.1493 9.97075 50.5107 10.2002 50.8105C10.4297 51.1102 10.7072 51.3405 11.0333 51.5013C11.3594 51.6621 11.7257 51.7429 12.1329 51.7429C12.5513 51.7429 12.9178 51.6811 13.2325 51.5574C13.5512 51.4318 13.8175 51.2559 14.0323 51.0236C14.247 50.7876 14.4117 50.5029 14.5289 50.1694C14.6474 49.8362 14.7176 49.4577 14.7399 49.0348H13.7103C13.6844 49.3607 13.6399 49.6419 13.577 49.8722C13.5141 50.1024 13.4218 50.2898 13.2993 50.4374C13.1808 50.5835 13.0254 50.6922 12.8329 50.7634C12.6442 50.8308 12.4108 50.8645 12.1335 50.8645C11.8376 50.8645 11.5856 50.7989 11.3782 50.6677C11.1709 50.5329 11.0025 50.3495 10.8729 50.1171C10.7471 49.8868 10.6544 49.6134 10.5952 49.3006C10.5398 48.9898 10.5119 48.6546 10.5119 48.2949V46.7724C10.5119 46.3865 10.545 46.0363 10.6118 45.7214C10.6822 45.4068 10.7877 45.139 10.9284 44.918C11.0691 44.6969 11.2471 44.5265 11.4614 44.4067C11.6762 44.2811 11.9316 44.2213 12.2279 44.2213C12.4762 44.2213 12.6887 44.2589 12.8664 44.3337C13.0444 44.4049 13.1921 44.5173 13.3107 44.6686C13.4293 44.8185 13.5176 45.0095 13.5828 45.2416C13.648 45.4738 13.6863 45.751 13.7105 46.0731H14.7379C14.7172 45.6335 14.651 45.2399 14.5324 44.9008C14.4138 44.5617 14.2489 44.2734 14.0358 44.0412C13.8226 43.8091 13.5675 43.633 13.2639 43.513C12.9639 43.3931 12.6179 43.333 12.2252 43.333L12.2273 43.3359ZM37.3064 43.3359C36.8771 43.3359 36.492 43.4184 36.1514 43.583C35.8133 43.7419 35.5167 43.9786 35.285 44.274C35.0518 44.5734 34.8722 44.937 34.7464 45.3639C34.6222 45.7872 34.563 46.2609 34.563 46.7874V48.2989C34.563 48.8271 34.6241 49.3027 34.7464 49.726C34.8722 50.1493 35.0499 50.5107 35.2794 50.8105C35.5089 51.1102 35.7864 51.3405 36.1125 51.5013C36.4386 51.6621 36.8048 51.7429 37.2121 51.7429C37.6305 51.7429 37.9969 51.6811 38.3117 51.5574C38.6303 51.4318 38.8966 51.2559 39.1114 51.0236C39.3262 50.7876 39.4909 50.5029 39.608 50.1694C39.7266 49.8362 39.7968 49.4577 39.8191 49.0348H38.7917C38.7659 49.3607 38.7214 49.6419 38.6585 49.8722C38.5956 50.1024 38.5033 50.2898 38.3808 50.4374C38.2622 50.5835 38.1068 50.6922 37.9144 50.7634C37.7257 50.8308 37.4922 50.8645 37.215 50.8645C36.9191 50.8645 36.667 50.7989 36.4597 50.6677C36.2524 50.5329 36.0839 50.3495 35.9544 50.1171C35.8286 49.8868 35.7359 49.6134 35.6767 49.3006C35.6212 48.9898 35.5933 48.6546 35.5933 48.2949V46.7724C35.5933 46.3865 35.6264 46.0363 35.6933 45.7214C35.7636 45.4068 35.8691 45.139 36.0098 44.918C36.1506 44.6969 36.3285 44.5265 36.5429 44.4067C36.7577 44.2811 37.013 44.2213 37.3093 44.2213C37.5576 44.2213 37.7701 44.2589 37.9479 44.3337C38.1258 44.4049 38.2736 44.5173 38.3922 44.6686C38.5107 44.8185 38.5991 45.0095 38.6643 45.2416C38.7294 45.4738 38.7677 45.751 38.7919 46.0731H39.8193C39.7986 45.6335 39.7324 45.2399 39.6138 44.9008C39.4953 44.5617 39.3304 44.2734 39.1172 44.0412C38.9041 43.8091 38.6489 43.633 38.3454 43.513C38.0454 43.3931 37.6994 43.333 37.3066 43.333L37.3064 43.3359ZM18.0832 43.4484L15.4764 51.6286H16.5203L17.1479 49.4937H19.8801L20.5187 51.6286H21.5626L18.9525 43.4484H18.0832ZM22.6645 43.4484V51.6286H23.6784V48.4262H25.2386C25.6276 48.4262 25.9718 48.3718 26.2716 48.2633C26.5716 48.1509 26.8233 47.9899 27.0269 47.7802C27.2342 47.5704 27.3896 47.3121 27.4933 47.0047C27.6009 46.6939 27.6543 46.3417 27.6543 45.9486C27.6543 45.5852 27.6005 45.2519 27.4933 44.9485C27.3898 44.6414 27.2361 44.3774 27.0324 44.1564C26.8288 43.9317 26.5772 43.7576 26.2716 43.6338C25.9716 43.5082 25.6274 43.4484 25.2386 43.4484H22.6645ZM28.4344 43.4484V44.336H30.5557V51.6286H31.5697V44.336H33.6968V43.4484H28.4344ZM41.1904 43.4484V51.6286H42.2043V47.8474H45.4565V51.6286H46.4783V43.4484H45.4565V46.9654H42.2022V43.4484H41.1904ZM50.3364 43.4484L47.7319 51.6286H48.7758L49.4034 49.4937H52.1356L52.7742 51.6286H53.8163L51.2061 43.4484H50.3364ZM23.6805 44.336H25.2407C25.489 44.336 25.6997 44.381 25.8739 44.4708C26.0442 44.5546 26.1926 44.6778 26.307 44.8305C26.4218 44.9804 26.505 45.1545 26.5569 45.353C26.6124 45.5477 26.6403 45.7501 26.6403 45.9601C26.6403 46.1904 26.6126 46.406 26.5569 46.6007C26.5052 46.7916 26.4218 46.9566 26.307 47.1031C26.1959 47.2417 26.0514 47.3502 25.8739 47.4291C25.7001 47.5078 25.489 47.5472 25.2407 47.5472H23.6805V44.336ZM18.5161 44.8866L19.6211 48.6058H17.4142L18.5161 44.8866ZM50.7693 44.8866L51.8743 48.6058H49.6674L50.7693 44.8866ZM2.93368 45.4372C2.67813 45.4372 2.45776 45.5027 2.27277 45.6339C2.09129 45.765 1.94169 45.9429 1.81753 46.1678L1.80098 45.5498H0.84375V51.6288H1.82664V47.28C1.91913 47.0215 2.05053 46.8195 2.22083 46.6677C2.39464 46.5178 2.61502 46.4431 2.88174 46.4431L3.10936 46.4544C3.1821 46.459 3.25447 46.4683 3.32601 46.4824L3.32042 45.5161C3.30552 45.5085 3.28152 45.501 3.248 45.4937C3.21549 45.4816 3.18207 45.4722 3.14805 45.4656C3.11081 45.4581 3.07211 45.4524 3.03135 45.4489C2.9941 45.4413 2.961 45.4376 2.93141 45.4376L2.93368 45.4372ZM6.23784 45.4372C5.95515 45.4368 5.67472 45.4882 5.41015 45.5889C5.14115 45.69 4.9067 45.8569 4.69936 46.0914C4.49575 46.3216 4.33104 46.6195 4.20275 46.9903C4.07694 47.3573 4.01403 47.8067 4.01403 48.3443V49.0298C4.01403 49.4941 4.06783 49.8969 4.17502 50.2377C4.2822 50.5785 4.43574 50.8615 4.63584 51.0862C4.83945 51.3072 5.08569 51.472 5.37456 51.5806C5.66342 51.6893 5.98705 51.7435 6.34648 51.7435C6.60555 51.7435 6.83689 51.7173 7.04071 51.6648C7.24804 51.6125 7.43138 51.5448 7.5905 51.4626C7.74983 51.3763 7.8864 51.279 8.00145 51.1703C8.1165 51.0617 8.21459 50.9493 8.2957 50.8354L7.7846 50.2061C7.70307 50.3072 7.61616 50.4008 7.52387 50.487C7.43138 50.5695 7.32937 50.6426 7.21845 50.7062C7.10213 50.7671 6.97923 50.8142 6.8522 50.8465C6.71915 50.8821 6.56871 50.8971 6.40235 50.8971C5.94711 50.8971 5.59534 50.7491 5.35283 50.4533C5.11218 50.1575 4.99195 49.6835 4.99195 49.0298V48.8895H8.34412V48.3109C8.34412 47.8465 8.30522 47.4362 8.22741 47.0803C8.14961 46.7244 8.02566 46.4251 7.85537 46.1814C7.68967 45.9417 7.46333 45.7516 7.20004 45.6308C6.93352 45.5035 6.61134 45.4399 6.2337 45.4399L6.23784 45.4372ZM6.23784 46.2913C6.45263 46.2913 6.63038 46.3306 6.77088 46.4094C6.91007 46.4865 7.02538 46.6013 7.10403 46.7408C7.18928 46.8831 7.25032 47.0535 7.28736 47.252C7.32812 47.4467 7.35399 47.6623 7.36516 47.898V48.0328H4.99754C5.01244 47.692 5.053 47.409 5.12169 47.1844C5.19039 46.9597 5.27544 46.7818 5.38242 46.6505C5.49354 46.5157 5.62121 46.4202 5.76564 46.3696C5.91007 46.3189 6.06734 46.2909 6.23743 46.2909L6.23784 46.2913Z" fill="#A6A6A6" />
                </g>
                <defs>
                    <clipPath id="clip0_399_4680">
                        <rect width="52.9725" height="51.0806" fill="white" transform="translate(0.84375 0.803314)" />
                    </clipPath>
                </defs>
            </svg>
        </div>
        <div class="frame-3">
            <div class="button">
                <div class="frame-276">
                    <div class="create-an-accrount"> Create an accrount </div>
                </div>
            </div>
        </div>
    </div>

<div class="group-11">
    <div class="have-an-account-login">
        <div class="sign-in"> Sign In </div>
    </div>
    <div class="have-an-account-login2">
        <div class="already-have-an-ccount">
            <span><span class="already-have-an-ccount-span"> Already have an ccount? </span><span class="already-have-an-ccount-span2">
                </span><span class="already-have-an-ccount-span3">
                </span></span>
        </div>
    </div>
</div>
</div>
</body>
</html>

