<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/Verify.css">
<body>
    <div class="mac-book-pro-16-22">
    <div class="content">
        <div class="frame-8">
            <div class="verify-your-credentials"> Verify Your Credentials </div>
        </div>
        <div class="frame-218">
            <div class="text-field">
                <div class="frame-243">
                    <div class="label"> Email OTP </div>
                </div>
                <div class="frame-277">
                    <div class="text-field2">
                    </div>
                    <div class="text-field3">
                    </div>
                    <div class="text-field4">
                    </div>
                    <div class="text-field5">
                    </div>
                </div>
                <div class="fill-the-otp-sent-to-you-via-email"> Fill the OTP sent to you via Email </div>
            </div>
            <div class="text-field">
                <div class="frame-243">
                    <div class="label"> Mobile OTP </div>
                </div>
                <div class="frame-277">
                    <div class="text-field2">
                    </div>
                    <div class="text-field3">
                    </div>
                    <div class="text-field4">
                    </div>
                    <div class="text-field5">
                    </div>
                </div>
                <div class="fill-the-otp-sent-to-you-via-mobile-number"> Fill the OTP sent to you via Mobile Number </div>
            </div>
        </div>
    </div>
    <div class="button">
        <div class="frame-276">
            <div class="verify-account"> Verify Account </div>
        </div>
    </div>
</div>
</body>
</html>

<style>
    .button,
.button * {
    box-sizing: border-box;
}

.button {
    background: #02b676;
    border-radius: 36.7px;
    width: 309.65px;
    height: 73.4px;
    position: relative;
    overflow: hidden;
}

.frame-276 {
    display: flex;
    flex-direction: row;
    gap: 9.17px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    translate: -50% -50%;
    top: 50%;
}

.verify-account {
    color: #ffffff;
    text-align: center;
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 25.230697631835938px;
    font-weight: 500;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
</style>